In [3]:
import pandas as pd
import pymongo

In [2]:
pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.3/492.3 kB 35.1 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 269.1/269.1 kB 39.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
client = pymongo.MongoClient("mongodb+srv://rajesh:rajesh123@raj95.c0ymy.mongodb.net/?retryWrites=true&w=majority")

In [5]:
database = client['Census_Income_data']
collection = database['Cleaned_adult_data']

In [6]:
#Reading data from MONGO DB
data_db = pd.DataFrame(list(collection.find()))

In [7]:
data_db.head()

,_id,age,fnlwgt,education.num,capital_gain,capital_loss,hours_per_week,income
0,63664bbb1d2500a44d308339,39.0,77516.0,13.0,0.0,0.0,40.0,<=50K
1,63664bbb1d2500a44d30833a,50.0,83311.0,13.0,0.0,0.0,32.5,<=50K
2,63664bbb1d2500a44d30833b,38.0,215646.0,9.0,0.0,0.0,40.0,<=50K
3,63664bbb1d2500a44d30833c,53.0,234721.0,7.0,0.0,0.0,40.0,<=50K
4,63664bbb1d2500a44d30833d,28.0,338409.0,13.0,0.0,0.0,40.0,<=50K

In [8]:
#Taking copy of the original data
data_db_copy=data_db.copy()

In [9]:
dummy = pd.get_dummies(data_db_copy['income'])

In [10]:
dummy

        <=50K   >50K
0           1      0
1           1      0
2           1      0
3           1      0
4           1      0
...       ...    ...
32556       1      0
32557       0      1
32558       1      0
32559       1      0
32560       0      1

[32561 rows x 2 columns]

In [11]:
df=pd.concat((data_db_copy,dummy),axis=1)

In [12]:
df.head()

,_id,age,fnlwgt,education.num,capital_gain,capital_loss,hours_per_week,income,<=50K,>50K
0,63664bbb1d2500a44d308339,39.0,77516.0,13.0,0.0,0.0,40.0,<=50K,1,0
1,63664bbb1d2500a44d30833a,50.0,83311.0,13.0,0.0,0.0,32.5,<=50K,1,0
2,63664bbb1d2500a44d30833b,38.0,215646.0,9.0,0.0,0.0,40.0,<=50K,1,0
3,63664bbb1d2500a44d30833c,53.0,234721.0,7.0,0.0,0.0,40.0,<=50K,1,0
4,63664bbb1d2500a44d30833d,28.0,338409.0,13.0,0.0,0.0,40.0,<=50K,1,0

In [13]:
df.columns

Index(['_id', 'age', 'fnlwgt', 'education.num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income', ' <=50K', ' >50K'],
      dtype='object')

In [15]:
df=df.drop(['_id','income'],axis=1)

In [16]:
df.head()

,age,fnlwgt,education.num,capital_gain,capital_loss,hours_per_week,<=50K,>50K
0,39.0,77516.0,13.0,0.0,0.0,40.0,1,0
1,50.0,83311.0,13.0,0.0,0.0,32.5,1,0
2,38.0,215646.0,9.0,0.0,0.0,40.0,1,0
3,53.0,234721.0,7.0,0.0,0.0,40.0,1,0
4,28.0,338409.0,13.0,0.0,0.0,40.0,1,0

In [17]:
df=df.drop([' >50K'],axis=1)

In [18]:
df.head()

,age,fnlwgt,education.num,capital_gain,capital_loss,hours_per_week,<=50K
0,39.0,77516.0,13.0,0.0,0.0,40.0,1
1,50.0,83311.0,13.0,0.0,0.0,32.5,1
2,38.0,215646.0,9.0,0.0,0.0,40.0,1
3,53.0,234721.0,7.0,0.0,0.0,40.0,1
4,28.0,338409.0,13.0,0.0,0.0,40.0,1

In [19]:
## we have converted ' <=50K' as 1 and ' >50K' as 0 in income column
df=df.rename(columns={' <=50K':'income'})

In [20]:
df.head()

,age,fnlwgt,education.num,capital_gain,capital_loss,hours_per_week,income
0,39.0,77516.0,13.0,0.0,0.0,40.0,1
1,50.0,83311.0,13.0,0.0,0.0,32.5,1
2,38.0,215646.0,9.0,0.0,0.0,40.0,1
3,53.0,234721.0,7.0,0.0,0.0,40.0,1
4,28.0,338409.0,13.0,0.0,0.0,40.0,1

In [21]:
df.columns

Index(['age', 'fnlwgt', 'education.num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'income'],
      dtype='object')

# Segregating dependent and independent feature

In [22]:
X=df.drop(['income'],axis=1)

In [23]:
y=df['income']

In [24]:
X.head()

    age    fnlwgt  education.num  capital_gain  capital_loss  hours_per_week
0  39.0   77516.0           13.0           0.0           0.0            40.0
1  50.0   83311.0           13.0           0.0           0.0            32.5
2  38.0  215646.0            9.0           0.0           0.0            40.0
3  53.0  234721.0            7.0           0.0           0.0            40.0
4  28.0  338409.0           13.0           0.0           0.0            40.0

In [25]:
y

0        1
1        1
2        1
3        1
4        1
        ..
32556    1
32557    0
32558    1
32559    1
32560    0
Name: income, Length: 32561, dtype: uint8

# Split the data into train and test datasets

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [27]:
X_train.shape

(21815, 6)

In [28]:
 X_test.shape

(10746, 6)

# Creating Model

In [29]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()

In [30]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [31]:
model.score(X_train,y_train)

0.9971120788448316

# Without using hyperparameter Tuning

In [34]:
y_pred=model.predict(X_test)

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_score(y_test,y_pred)

0.7186860227061233

In [39]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.41      0.41      0.41      2550
           1       0.82      0.81      0.82      8196

    accuracy                           0.72     10746
   macro avg       0.61      0.61      0.61     10746
weighted avg       0.72      0.72      0.72     10746

# With using hyperparameter Tuning¶

In [40]:
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,10,1),
    'min_samples_leaf' : range(1,8,1),
    'min_samples_split': range(2,8,1),
    'splitter' : ['best', 'random']
    
}

In [41]:
from sklearn.model_selection import GridSearchCV
gridsearch=GridSearchCV(estimator=model,param_grid=grid_param,cv=3,verbose=1)

In [42]:
gridsearch.fit(X_train,y_train)

Fitting 3 folds for each of 1344 candidates, totalling 4032 fits

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 10),
                         'min_samples_leaf': range(1, 8),
                         'min_samples_split': range(2, 8),
                         'splitter': ['best', 'random']},
             verbose=1)

In [43]:
gridsearch.best_params_

{'criterion': 'entropy',
 'max_depth': 7,
 'min_samples_leaf': 5,
 'min_samples_split': 2,
 'splitter': 'random'}

In [44]:
model_with_best_params=DecisionTreeClassifier(criterion= 'entropy',max_depth= 7,min_samples_leaf= 5,min_samples_split= 2,splitter='random')

In [45]:
model_with_best_params.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=7, min_samples_leaf=5,
                       splitter='random')

In [46]:
y_pred1=model_with_best_params.predict(X_test)

In [47]:
accuracy_score(y_test,y_pred1)

0.791178112786153

In [48]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.60      0.35      0.44      2550
           1       0.82      0.93      0.87      8196

    accuracy                           0.79     10746
   macro avg       0.71      0.64      0.66     10746
weighted avg       0.77      0.79      0.77     10746

# Conclusion

Before Using Hyperparameter Tuning accuracy score:71% 
After using Hyperparameter Tuning accuracy score:79%