In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/RajeshDe95/Classification-Assignment/main/Cleaned_adult_data.csv')

In [3]:
df.head()

,age,fnlwgt,education.num,capital_gain,capital_loss,hours_per_week,income
0,39.0,77516.0,13.0,0.0,0.0,40.0,<=50K
1,50.0,83311.0,13.0,0.0,0.0,32.5,<=50K
2,38.0,215646.0,9.0,0.0,0.0,40.0,<=50K
3,53.0,234721.0,7.0,0.0,0.0,40.0,<=50K
4,28.0,338409.0,13.0,0.0,0.0,40.0,<=50K

In [4]:
df_copy=df.copy()

In [5]:

pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in d:\anaconda software\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in d:\anaconda software\lib\site-packages (from pymongo[srv]) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
# Uploading the data in MongoDB database
import pymongo

In [7]:
client = pymongo.MongoClient("mongodb+srv://rajesh:rajesh123@raj95.c0ymy.mongodb.net/?retryWrites=true&w=majority")

In [8]:
database = client['Census_Income_data']
collection = database['Cleaned_adult_data']

In [9]:
data_dict = df_copy.to_dict("records")
collection.insert_many(data_dict)